body {
    background: black;
}

.wrapper {
    transform-style: preserve-3d;
    margin: 50vh 35vw;
    animation: rotate 10s infinite alternate;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    to {
        transform: rotatex(360deg);
    }
}

.o {
    width: 340px;
    height: 340px;
    position: absolute;
    border-radius: 50%;
}

.o:nth-child(1) {
    animation: ring-1 10s linear infinite alternate;
    border: 6px dotted #cc8866;
}

@keyframes ring-1 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(60deg);
    }
}

.o:nth-child(2) {
    animation: ring-2 10s linear infinite alternate;
    border: 6px dotted #ccaa66;
}

@keyframes ring-2 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(120deg);
    }
}

.o:nth-child(3) {
    animation: ring-3 10s linear infinite alternate;
    border: 6px dotted #cccc66;
}

@keyframes ring-3 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.o:nth-child(4) {
    animation: ring-4 10s linear infinite alternate;
    border: 6px dotted #aacc66;
}

@keyframes ring-4 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(240deg);
    }
}

.o:nth-child(5) {
    animation: ring-5 10s linear infinite alternate;
    border: 6px dotted #88cc66;
}

@keyframes ring-5 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(300deg);
    }
}

.o:nth-child(6) {
    animation: ring-6 10s linear infinite alternate;
    border: 6px dotted #66cc66;
}

@keyframes ring-6 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.o:nth-child(7) {
    animation: ring-7 10s linear infinite alternate;
    border: 6px dotted #66cc88;
}

@keyframes ring-7 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(420deg);
    }
}

.o:nth-child(8) {
    animation: ring-8 10s linear infinite alternate;
    border: 6px dotted #66ccaa;
}

@keyframes ring-8 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(480deg);
    }
}

.o:nth-child(9) {
    animation: ring-9 10s linear infinite alternate;
    border: 6px dotted #66cccc;
}

@keyframes ring-9 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(540deg);
    }
}

.o:nth-child(10) {
    animation: ring-10 10s linear infinite alternate;
    border: 6px dotted #66aacc;
}

@keyframes ring-10 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(600deg);
    }
}

.o:nth-child(11) {
    animation: ring-11 10s linear infinite alternate;
    border: 6px dotted #6688cc;
}

@keyframes ring-11 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(660deg);
    }
}

.o:nth-child(12) {
    animation: ring-12 10s linear infinite alternate;
    border: 6px dotted #6666cc;
}

@keyframes ring-12 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(720deg);
    }
}

.o:nth-child(13) {
    animation: ring-13 10s linear infinite alternate;
    border: 6px dotted #8866cc;
}

@keyframes ring-13 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(780deg);
    }
}

.o:nth-child(14) {
    animation: ring-14 10s linear infinite alternate;
    border: 6px dotted #aa66cc;
}

@keyframes ring-14 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(840deg);
    }
}

.o:nth-child(15) {
    animation: ring-15 10s linear infinite alternate;
    border: 6px dotted #cc66cc;
}

@keyframes ring-15 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(900deg);
    }
}

.o:nth-child(16) {
    animation: ring-16 10s linear infinite alternate;
    border: 6px dotted #cc66aa;
}

@keyframes ring-16 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(960deg);
    }
}

.o:nth-child(17) {
    animation: ring-17 10s linear infinite alternate;
    border: 6px dotted #cc6688;
}

@keyframes ring-17 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(1020deg);
    }
}

.o:nth-child(18) {
    animation: ring-18 10s linear infinite alternate;
    border: 6px dotted #cc6666;
}

@keyframes ring-18 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(1080deg);
    }
}

.o:nth-child(19) {
    animation: ring-19 10s linear infinite alternate;
    border: 6px dotted #cc8866;
}

@keyframes ring-19 {
    0% {
        transform: rotateY(0) rotateX(0);
    }
    100% {
        transform: rotateY(1140deg);
    }
}

/* adding responsiveness */

@media only screen and (max-width: 1030px) {
    .container {
        margin: 45vh 35vw;
    }
    .o {
        width: 260px;
        height: 260px;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        margin: 45vh 25vw;
    }
    .o {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin: 45vh 15vw;
    }
    .o {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 350px) {
    .container {
        margin: 45vh 5vw;
    }
    .o {
        width: 200px;
        height: 200px;
    }
}
